# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      # - uses: actions/setup-java@v3.11.0
      #   with:
      #     java-version: 11
      #     distribution: temurin
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0'
          channel: 'stable'
          architecture: x64
          cache: true

      - name: Install dependencies for three_js
        working-directory: ./packages/three_js
        run: flutter pub get